body {
	background-color: #E1E1E1;
	font-family: "Helvetia Neue", Helvetica, Arial, sans-serif;
	color: #333;
	padding: 2.5em 1.5em;
	box-sizing: border-box;
	font-size: 0.8em;
	line-height: 1.5;
	margin: 0;
}

main {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	margin-left: auto;
	margin-right: auto;

	.header {
		padding: 1em 2.375em;
		overflow: hidden;
		box-sizing: border-box;

		img {
			margin-top: 1em;
			margin-bottom: 1em;
		}
	}

	section {
		padding: 1em 2.375em;
		margin-top: 2px;
		border-top: 2px solid #E1E1E1;

		a {
			color: #4D4D4D;
			text-decoration: none;
		}
	}

	.title {

		p {
			color: #666666;

			.breadcrumbs {
				margin-bottom: 0;
				color: #bb2600;
			}
		}

		h1 {
			font-size: 1.8em;
			font-weight: 500;
			margin-top: 0;
			margin-bottom: 0;
		}

		.location {
			margin-top: 0;
		}

	}

	.details {

		h2 {
			text-transform: uppercase;
		}

		.section-image {

			img {
				height: 18.75em;
				width: 28em;
			}
		}
	}

	.apply {
		padding: 2.375em 3.125em;

		.btn {
			width: 10.625em;
			height: 2.75em;
			color: #fff;
			font-size: 1.25em;
			font-weight: 500;
			text-shadow: 0 -1px -1px rgba(0, 0, 0, 0.85);
			background-color: #C22800;
			padding: 1em;

		}
	}
}

#main, #footer {
	margin-left: auto;
	margin-right: auto;
	max-width: 48.75em;
	padding-left: 0;
	padding-right: 0;
}

footer {
	margin-top: 1.25em;
	font-size: 0.75em;
	color: #999;

	a {
		color: #4D4D4D;
	}

	.left {
		float: right;
	}

	.right {
		float: right;
	}
}

@media screen and (min-width: 68.75em) {

	main, footer {
		max-width: 60.875em;
	}

}
